<div class="sidebar">
  <div class="logo mb-3 text-center">
    <h1 class="font-24 font-weight-bold text-gradient-primary">{{ 'TITLE' | translate}}</h1>
  </div>



  <div class="sidebar-nav">
    <ul>
      <li>
        <a routerLink="/main/home" routerLinkActive="active" class="d-flex align-items-center parent">
          <span>
            <i class='bx bxs-home text-gradient-primary'></i>
          </span>
          <span class="nav-link">{{ 'Data.Home' | translate}}</span>

        </a>
      </li>

      <li>
        <a routerLink="/main/employee" routerLinkActive="active" class="d-flex align-items-center parent">
          <span>
            <i class='bx bx-user  text-gradient-primary'></i>
          </span>
          <span class="nav-link">{{ 'Data.Employees' | translate}}</span>

        </a>
      </li>



    </ul>
  </div>
</div>